<h1>Result#index</h1>
<p>Find me in app/views/result/index.html.erb</p>

<input size="120" type="text" name="searchConditions" value="<%=@searchString %>" />

<table>
	<tr>
		<td>
			<%= link_to "Print popup a new window- /result/print", "/result/print", :method => :get %> | 
			<%= link_to "Export Result as a File - popup a download dialogue- /result/saveResults", "/result/saveResults", :method => :get %> | <br> 
			<%= link_to "Share by Email-  a popup consumes REST result/shareByEmail", "/result/shareByEmail", :method => :get %> |
			<%= link_to "Save Search Conditions- a popup consumes REST /result/saveSearch", "/result/saveSearch", :method => :get %>
		</td>
	</tr>
</table>

<div class="container mtb40">
<div class="col-md-4 col-sm-4 col-xs-4 padding0">
<button class="btn btn-default col-md-12 col-sm-12 col-xs-12" type="submit">Print Result</button>
</div>
<div class="col-md-4 col-sm-4 col-xs-4 padding0">
<button class="btn btn-default col-md-12 col-sm-12 col-xs-12" type="submit">Export as a File</button>
</div>
<div class="col-md-4 col-sm-4 col-xs-4 padding0">
<button class="btn btn-default col-md-12 col-sm-12 col-xs-12" type="submit">Share with Friends</button>
</div>
<div class="col-md-4 col-sm-4 col-xs-4 padding0">
<button class="btn btn-default col-md-12 col-sm-12 col-xs-12" type="submit">Save Search Conditions</button>
</div>
</div>
<p> The search results retrieved from REST service: <b> <%= link_to "/result/getResults.json", '/result/getResults.json', :method => :get%> </b></p>
<table class="table table-bordered table-striped table-responsive">
   <thead>
      <tr>
         <th>Title <span class=" pull-right"></span></th>
         <th>Publish Date<span class=" pull-right"></span><span class=" pull-right"></span></th>
         <th>Authors</th>
         <th>Average Rating<span class=" pull-right"></span></th>
      </tr>
   </thead>
   <tbody>
		<tr>
		<td> <%= link_to "Title 1", '/result/getSourceDetail.json?source_id=1', :method => :get%> </td>
		<td>Published Date 1</td>
		<td>Authors 1</td>
		<td>Average Rating 1</td>
	</tr>
	<tr>
		<td>Title 2</td>
		<td>Published Date 2</td>
		<td>Authors 2</td>
		<td>Average Rating 2</td>
	</tr>
	<tr>
		<td>Title 3</td>
		<td>Published Date 3</td>
		<td>Authors 3</td>
		<td>Average Rating 3</td>
	</tr>
	<tr>
		<td>Title 4</td>
		<td>Published Date 4</td>
		<td>Authors 4</td>
		<td>Average Rating 4</td>
	</tr>
	<tr>
		<td>Title 5</td>
		<td>Published Date 5</td>
		<td>Authors 5</td>
		<td>Average Rating 5</td>
	</tr>
	</tbody>
</table>

<div class="col-md-12 col-xs-12 padding0 text-center">
<ul class="pagination">
  <li><a href="#">Previous</a></li>
  <li class="active"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">Next</a></li>
</ul>
</div>
